<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-title>Books</mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input #input (keyup)="applyFilter($event)" matInput>
      </mat-form-field>
      <mat-form-field class="dropdown-filter">
        <mat-label>Filter by status</mat-label>
        <mat-select #mySelect (valueChange)="applyStatusFilter(mySelect.value)">
          <mat-option *ngFor="let bookStatus of bookStatuses" [value]="bookStatus">
            {{bookStatus}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="(bookList != undefined)" class="tableClass">
        <table [dataSource]="bookList" mat-table matSort>
          <ng-container matColumnDef="title">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Title</th>
            <td *matCellDef="let book" mat-cell> {{book.title}} </td>
          </ng-container>
          <ng-container matColumnDef="author">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Author</th>
            <td *matCellDef="let book" mat-cell> {{book.author}} </td>
          </ng-container>
          <ng-container matColumnDef="year">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Year</th>
            <td *matCellDef="let book" mat-cell> {{book.year}} </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
            <td *matCellDef="let book" mat-cell> {{book.status}} </td>
          </ng-container>
          <ng-container matColumnDef="edit">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let book" mat-cell>
              <button [routerLink]="['/books', book.id]" color="primary" mat-flat-button>Edit book</button>
            </td>
          </ng-container>

          <tr *matHeaderRowDef="columns" mat-header-row></tr>
          <tr *matRowDef="let row; columns: columns;" mat-row></tr>
        </table>
        <mat-paginator (page)="getPageDetails($event)"
                       *ngIf="(paginatorInfo$) as paginatorInfo"
                       [length]="paginatorInfo.totalElements"
                       aria-label="Select page of periodic elements"
                       [pageSize]="paginatorInfo.numberOfElements"
                       showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>

